.projectSection {
    margin: 1em;
}
.cardContainer {
display: flex;
flex-wrap: wrap;
/* max-width: 100% !important; */
}

.projectCard {
    
    border: whitesmoke solid 2px;
    min-width: 25%;
    max-width: 25%;
    margin: 1em;
    padding: 2px;
}