.detailCardContainer {
    display: flex;
}
.detailCards {
    /* border: solid rgb(133, 36, 36) 5px; */
    width: 30%;
    height: 400px;
    margin: 1em;
}

.card {
    margin: 1em;
}

.addBtn {
    margin-left: 1em !important;
}