.navBar {
  /* display: flex !important;
  flex-direction: row !important; */
}

.navBtn {
  margin-right: 4% !important;
  display: inline-block !important;
  max-width: 15% !important;

}

.title {
  margin: 2% !important;
}